html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana;
  color: black;
}

body {
  margin: 0;
}
/*Header section*/
header {
  height: 4rem;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
}

#logo-text {
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
  color: black;
}

#logo-text img {
  margin-left: 1.5rem;
  height: 3rem;
}

#logo-color {
  color: #D3D3D3;
}

nav {
  display: inline-block;
  padding-right: 40px;
}

nav ul {
  padding-left: 20px;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

a {
  color: black;
  text-decoration: none;
}
.tablet {
  display: none;
}

.mobile {
  display: none;
}

/*hide desktop navigation and show: "Menu" instead for screens between 480px and 1024px*/
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  header .desktop {
    display: none;
  }

  header #logo-text {
    display: none;
  }

  .tablet {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }
}

/*hide desktop navigation menu on small screens below 480px and show mobile navigation menu instead*/
@media only screen and (max-width: 480px) {

  header #logo-text {
    display: none;
  }

  header .desktop {
    display: none;
  }

  header .tablet {
    display: none;
  }

  header .mobile {
    width: 100%;
    display: block;
  }
  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }

}
/*First section: Learn something new everyday*/
#banner {
  position: relative;
  top: 4rem;
  background-color: #D3D3D3;
  display: flex;
  color: white;
  padding: 2rem 0 2rem 1.5rem;
  width: 100%;
}
.story1 {
  width: 60%;
}
.story1 img {
  width: 100%;
  padding-right: 2.5rem;
  vertical-align: center;
  display: inline-block;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titles h1 {
  margin: 0 0 0 2.5rem;
  padding: 0.4rem 0;
  font-size: 3rem;
  font-weight: normal;
}

.titles h5 {
  margin: 0 0 0 2.5rem;
  padding: 0.4rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: normal;
}

.button {
  background-color: #4a4a4a;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2.5rem;
}

@media only screen and (min-width: 480px) and (max-width: 1200px) {
  .story1 {
    width: 50%;
  }

  .titles h1 {
    font-size: 2rem;
  }

  .titles h5 {
    font-size: 1.25rem;
  }

  .button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-left: 2rem;
  }

}

/*Section 2 Emanuel, Sr Strategist*/
#details {
  background-color: white;
  padding: 4rem 0 0 1.5rem;
  display: flex;
  width: 100%;
}

.emanuel {
  width: 60%;
}

.story2 img {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.description h1{
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.description p {
  font-size: 1.20rem;
  line-height: 1.5;
}
.side-stories {
  width: 34.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1.5rem;
}

.small-art {
  display: flex;
}

.pic {
  width: 35%;
  margin-top: 2rem;
  margin-left: 1rem;
}

.pic img {
  width: 100%;
  margin-bottom: 1rem;
}

.description-side {
  margin: auto 0;
  padding-left: 1rem;
}

.description-side h1, .description-side p {
  margin-bottom: .5rem;
}

.description-side a {
  color: blue;
}

.highlighted {
  background-color: #D3D3D3;
  padding: 0;
}

#professor {
  width: 35%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 480px) and (max-width: 1400px) {

  .emanuel {
    width: 50%;
  }

  .description h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .description p {
    font-size: 1rem;
  }

  .side-stories {
    width: 40%;
  }

  .description-side h1{
    font-size: 1rem;
  }

  .description-side p {
    font-size: 0.8rem;
    line-height: 1;
  }
}

/*Section 3: Start learning*/
#section3-header {
  text-align: center;
  background-color: #D3D3D3;
  padding-top: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.6;
}

#List-courses {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: #D3D3D3;
  justify-content: center;
}

.courses {
  width: 27%;
  margin-right: 2rem;
}

.pic-titles {
  height: 19rem;
}

.pic-titles img {
  width: 100%;
  margin-top: 2rem;
}

.title-course {
  margin-top: 1rem;
  margin-left: 1rem;
}

.desc-courses {
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 480px) and (max-width: 1400px) {
  #section3-header {
    font-size: 1.5rem;
  }

  .courses {
    width: 25%;
  }

  .title-course h3 {
    font-size: 1rem;
  }

  .title-course p {
    font-size: 1rem;
  }

  .desc-courses {
    margin-top: -50px;
  }

  .desc-courses p {
    font-size: 0.9rem;
  }
}

/*Section 4: Thesis exhibit*/
#section4-header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#exhibition {
  display: flex;
}

.reimagine-urban {
  width: 60%;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.reimagine-urban h1 {
  font-size: 2rem;
}

.reimagine-urban p {
  font-size: 1.2rem;
  line-height: 1.5;
}

video {
  width: 100%;
}

.side-article {
  display: flex;
  padding: 1rem;
  margin-left: 1rem;
}
.fisma-newyork {
  width: 34.1rem;
  display: flex;
  flex-direction: column;
}

.side-pic img {
  max-height: 10rem;
}

.side-text {
  margin-left: 1rem;
}

@media only screen and (min-width: 480px) and (max-width: 1400px) {
  .reimagine-urban h1 {
    font-size: 1rem;
  }

  .reimagine-urban p {
    font-size: 1rem;
    line-height: 1.5;
  }

  .side-text h1 {
    font-size: 1rem;
  }

  .side-text p {
    font-size: 0.9rem;
  }

}

/*Footer section*/
footer {
  width: 100%;
  height: 4rem;
  background-color: #D3D3D3;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
footer span {
  margin-left: 1.5rem;
}

footer a {
  padding-right: 1rem;
}
